node-red/.flows.json.backup
[{"id":"117f09b78ede4699","type":"tab","label":"Bedroom Lights Auto (On)","disabled":false,"info":"","env":[]},{"id":"52aade0ece30eee8","type":"tab","label":"Holiday Lights","disabled":false,"info":"","env":[]},{"id":"3394950c9f397144","type":"tab","label":"Bedtime Phone Notification","disabled":false,"info":"","env":[]},{"id":"1e5209ce09f46049","type":"tab","label":"Doorbell's","disabled":false,"info":"","env":[]},{"id":"fba9d243.2d9c9","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"8259f087438bcbaf","type":"trigger-state","z":"117f09b78ede4699","name":"Bedroom Motion Detected","server":"fba9d243.2d9c9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bedroom_motion_sensor_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":260,"y":520,"wires":[["6db0e9257b5ad3be","794d64f368fecc39","600b82e834092f7e"],[]]},{"id":"f908354c9b2a248d","type":"api-current-state","z":"117f09b78ede4699","name":"Keely's Phone Not Charging","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"Not Charging","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.keely_s_iphone_battery_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":180,"wires":[["0fcb8211431002d4"],[]]},{"id":"71fa328e87445f42","type":"api-call-service","z":"117f09b78ede4699","name":"Bedroom Lights Turn On","server":"fba9d243.2d9c9","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1730,"y":320,"wires":[[]]},{"id":"db796808df92a02a","type":"api-current-state","z":"117f09b78ede4699","name":"Tobin's Phone Not Charging","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"Not Charging","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ebon_hawk_battery_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1080,"y":300,"wires":[["530982a03336c1c6","9bb698eeacf9e98e"],[]]},{"id":"530982a03336c1c6","type":"api-current-state","z":"117f09b78ede4699","name":"Bedroom TV Not Playing","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.bedroom_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":340,"wires":[["71fa328e87445f42"],[]]},{"id":"4f1c08066dd3d430","type":"api-current-state","z":"117f09b78ede4699","name":"Tobin's Phone Is Charging","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"Charing","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ebon_hawk_battery_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":140,"wires":[[],[]]},{"id":"9bb698eeacf9e98e","type":"api-current-state","z":"117f09b78ede4699","name":"Bedroom TV Is Playing","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":240,"wires":[[],[]]},{"id":"6db0e9257b5ad3be","type":"api-current-state","z":"117f09b78ede4699","name":"Tobin's Home","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.tobin_dunn","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":480,"wires":[["de5f25a3e26f6f9d"],[]]},{"id":"f151af7026bcf139","type":"api-current-state","z":"117f09b78ede4699","name":"Keely's Away","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.keely_dunn","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1050,"y":460,"wires":[["bad8ad7c212517db","a7110afc10522b10"],["8faff8aa115458cd"]]},{"id":"de5f25a3e26f6f9d","type":"api-current-state","z":"117f09b78ede4699","name":"Tobin's Phone Not Charging","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"Not Charging","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ebon_hawk_battery_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":460,"wires":[["f151af7026bcf139"],[]]},{"id":"a7110afc10522b10","type":"api-current-state","z":"117f09b78ede4699","name":"Bedroom TV Not Playing","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.bedroom_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1410,"y":580,"wires":[["39fd1f73c016aace"],[]]},{"id":"39fd1f73c016aace","type":"api-call-service","z":"117f09b78ede4699","name":"Bedroom Lights Turn On","server":"fba9d243.2d9c9","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1690,"y":540,"wires":[[]]},{"id":"bad8ad7c212517db","type":"api-current-state","z":"117f09b78ede4699","name":"Bedroom TV Is Playing","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1400,"y":500,"wires":[[],[]]},{"id":"0fcb8211431002d4","type":"api-current-state","z":"117f09b78ede4699","name":"Tobin's Home","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.tobin_dunn","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1080,"y":160,"wires":[["4f1c08066dd3d430","db796808df92a02a"],["9bb698eeacf9e98e","530982a03336c1c6"]]},{"id":"794d64f368fecc39","type":"api-current-state","z":"117f09b78ede4699","name":"Keely's Home","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.keely_dunn","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":320,"wires":[["f908354c9b2a248d"],[]]},{"id":"600b82e834092f7e","type":"api-current-state","z":"117f09b78ede4699","name":"Family Away","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.keely_dunn","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":640,"wires":[[],[]]},{"id":"8faff8aa115458cd","type":"api-current-state","z":"117f09b78ede4699","name":"Keely's Phone Not Charging","server":"fba9d243.2d9c9","version":2,"outputs":2,"halt_if":"Not Charging","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.keely_s_iphone_battery_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1020,"y":560,"wires":[["a7110afc10522b10","bad8ad7c212517db"],[]]}]